.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  .logo-container {
    height: 100%;
    outline: none;
    width: 380px;
    // padding-left: 15px;
    font-size: 20px;
    // padding-top: 25px;
    // padding-bottom: 25px;
    // padding-right: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: "Pacifico", cursive;
    text-decoration: none;
    color: #000;
  }
  .options {
    width: 50%;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      outline: none;
      cursor: pointer;
      text-decoration: underline;
      color: #000;
      padding-left: 15px;
    }
  }
}
